/* © Macado.Net, 2023 */
/* Contact - support@macado.net */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    
}

.headline {
    text-align: center;
    margin: auto;
    width: auto;
    font-size: 64;
}

.dlbutton{
    background-image: url("/images/download.jpg");
    background-repeat: no-repeat;
    width: 32;
    height: 32;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 1000px;
    border: none;
}

.cnotice{
    position: fixed;
    top: 10px;   
}

tr{
    background-color:white;
    text-align: center;
    font-size: 30px; 
    position: relative;
    top: 30px;
    right: 0px;
    width: auto;
    margin: auto;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.tcaption {
    text-align: left;
    font-size: 20px; 
    position: relative;
    top: 30px;
    right: 0px;
    width: auto;
    margin: auto;
}

.sizecells {
    font-size: 15px;
    color: white;
    background-color: black   
}

.filecells {
    font-size: 25px;
    color: white;
    background-color: black;
}

.buttoncells{
    color: white; 
    text-align: center;
    position: relative;
    top: 32px;
    right: 0px;
    width: auto;
    margin: auto;
}